<form action="/names" method=post>
<label for="p1name">Player one:</label><br> 
  <input type="text" name="p1name"><br>
<label for="p2name">Player two:</label><br> 
  <input type="text" name="p2name"><br>
  <input type="submit" value="Submit">
</form>

